<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tarifas">
            <h2><span jhiTranslate="tIendaDeVideoJuegosApp.tarifas.detail.title">Tarifas</span> {{ tarifas.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tIendaDeVideoJuegosApp.tarifas.precio">Precio</span></dt>
                <dd>
                    <span>{{ tarifas.precio }}</span>
                </dd>
                <dt><span jhiTranslate="tIendaDeVideoJuegosApp.tarifas.juego">Juego</span></dt>
                <dd>
                    <div *ngIf="tarifas.juegoId">
                        <a [routerLink]="['/juego', tarifas.juegoId, 'view']">{{ tarifas.juegoNombre }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tarifas', tarifas.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
