<div>
    <h2 id="page-heading">
        <span jhiTranslate="tIendaDeVideoJuegosApp.tarifas.home.title">Tarifas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarifas" [routerLink]="['/tarifas/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tIendaDeVideoJuegosApp.tarifas.home.createLabel">
            Create a new Tarifas
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tarifas?.length === 0">
        <span jhiTranslate="tIendaDeVideoJuegosApp.tarifas.home.notFound">No tarifas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tarifas && tarifas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="precio"><span jhiTranslate="tIendaDeVideoJuegosApp.tarifas.precio">Precio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="juegoNombre"><span jhiTranslate="tIendaDeVideoJuegosApp.tarifas.juego">Juego</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarifas of tarifas ;trackBy: trackId">
                    <td><a [routerLink]="['/tarifas', tarifas.id, 'view']">{{ tarifas.id }}</a></td>
                    <td>{{ tarifas.precio }}</td>
                    <td>
                        <div *ngIf="tarifas.juegoId">
                            <a [routerLink]="['/juego', tarifas.juegoId , 'view']" >{{ tarifas.juegoNombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tarifas', tarifas.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tarifas', tarifas.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tarifas)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tarifas && tarifas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
