<div>
    <h2 id="page-heading">
        <span jhiTranslate="tIendaDeVideoJuegosApp.cliente.home.title">Clientes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente" [routerLink]="['/cliente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tIendaDeVideoJuegosApp.cliente.home.createLabel">
            Create a new Cliente
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
    <div class="d-flex p-3">
        <label for="typeahead-http" class="p-2"> <span jhiTranslate="tIendaDeVideoJuegosApp.cliente.cedula">Cedula</span></label>
        <input id="typeahead-http" type="text" class="p-2" [(ngModel)]="cedula"/>
        <button type="submit" (click)="busquedaCliente()" class="btn btn-info p-2" ngbTooltip="Ingrese cedula del cliente.">
            <fa-icon icon="search"></fa-icon>&nbsp;<span jhiTranslate="entity.action.search">search</span>
        </button>
    </div>


    <div class="alert alert-warning" id="no-result" *ngIf="!cliente">
        <span jhiTranslate="tIendaDeVideoJuegosApp.cliente.home.notFound">No clientes found</span>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <div *ngIf="mostrar">
                <h2><span jhiTranslate="tIendaDeVideoJuegosApp.cliente.detail.title">Cliente</span> {{ cliente.id }}</h2>
    
                <hr>
    
                <jhi-alert-error></jhi-alert-error>
    
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="tIendaDeVideoJuegosApp.cliente.nombre">Nombre</span></dt>
                    <dd>
                        <span>{{ cliente.nombre }}</span>
                    </dd>
                    <dt><span jhiTranslate="tIendaDeVideoJuegosApp.cliente.apellido">Apellido</span></dt>
                    <dd>
                        <span>{{ cliente.apellido }}</span>
                    </dd>
                    <dt><span jhiTranslate="tIendaDeVideoJuegosApp.cliente.cedula">Cedula</span></dt>
                    <dd>
                        <span>{{ cliente.cedula }}</span>
                    </dd>
                    <dt><span jhiTranslate="tIendaDeVideoJuegosApp.cliente.fechaNacimiento">Fecha Nacimiento</span></dt>
                    <dd>
                        <span>{{ cliente.fechaNacimiento }}</span>
                    </dd>
                    <dt><span jhiTranslate="tIendaDeVideoJuegosApp.cliente.rangoEdad">Rango Edad</span></dt>
                    <dd>
                        <span>{{ cliente.rangoEdad }}</span>
                    </dd>
                    <dt><span jhiTranslate="tIendaDeVideoJuegosApp.cliente.telefono">Telefono</span></dt>
                    <dd>
                        <span>{{ cliente.telefono }}</span>
                    </dd>
                    <dt><span jhiTranslate="tIendaDeVideoJuegosApp.cliente.correo">Correo</span></dt>
                    <dd>
                        <span>{{ cliente.correo }}</span>
                    </dd>
                    <dt><span jhiTranslate="tIendaDeVideoJuegosApp.cliente.direccion">Direccion</span></dt>
                    <dd>
                        <span>{{ cliente.direccion }}</span>
                    </dd>
                </dl>
    
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>
    
                <button type="button"
                        [routerLink]="['/cliente', cliente.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>
