<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-alquiler-heading" jhiTranslate="tIendaDeVideoJuegosApp.alquiler.home.createOrEditLabel">Create or edit a Alquiler</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tIendaDeVideoJuegosApp.alquiler.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker #fechaDp="ngbDatepicker" formControlName="fecha"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tIendaDeVideoJuegosApp.alquiler.monto" for="field_monto">Monto</label>
                    <input type="number" class="form-control" name="monto" id="field_monto"
                           formControlName="monto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tIendaDeVideoJuegosApp.alquiler.rangoEdadAlcomprar" for="field_rangoEdadAlcomprar">Rango Edad Alcomprar</label>
                    <input type="number" class="form-control" name="rangoEdadAlcomprar" id="field_rangoEdadAlcomprar"
                           formControlName="rangoEdadAlcomprar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tIendaDeVideoJuegosApp.alquiler.fechaDeEntrega" for="field_fechaDeEntrega">Fecha De Entrega</label>
                    <div class="input-group">
                        <input id="field_fechaDeEntrega" type="text" class="form-control" name="fechaDeEntrega" ngbDatepicker #fechaDeEntregaDp="ngbDatepicker" formControlName="fechaDeEntrega"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDeEntregaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tIendaDeVideoJuegosApp.alquiler.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="clienteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackById">{{ clienteOption.cedula }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="tIendaDeVideoJuegosApp.alquiler.juegos" for="field_juegos">Juegos</label>
                    <select class="form-control" id="field_juegos" multiple name="juegos" formControlName="juegos">
                        <option [ngValue]="getSelected(editForm.get('juegos')!.value, juegoOption)" *ngFor="let juegoOption of juegos; trackBy: trackById">{{ juegoOption.nombre }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
