<div>
    <h2 id="page-heading">
        <span jhiTranslate="tIendaDeVideoJuegosApp.juego.home.title">Juegos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-juego" [routerLink]="['/juego/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tIendaDeVideoJuegosApp.juego.home.createLabel">
            Create a new Juego
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="juegos?.length === 0">
        <span jhiTranslate="tIendaDeVideoJuegosApp.juego.home.notFound">No juegos found</span>
    </div>

    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> 
                    <span  jhiTranslate="tIendaDeVideoJuegosApp.juego.home.filters">
                        filtros de busqueda
                    </span> </b> &#9733;
                </span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="form-group">
                    <label for="nombre-juego"  jhiTranslate="tIendaDeVideoJuegosApp.juego.filters.name">Nombre del juego: </label>
                    <input id="nombre-juego" type="text" class="form-control" [(ngModel)]="nombreJuego"/>
                </div>
                <hr>
                <div class="form-group">
                    <label for="director-juego"  jhiTranslate="tIendaDeVideoJuegosApp.juego.filters.director">director del juego: </label>
                    <input id="director-juego" type="text" class="form-control" [(ngModel)]="director"/>
                </div>
                <hr>
                <div class="form-group">
                    <label for="productor-juego"  jhiTranslate="tIendaDeVideoJuegosApp.juego.filters.producer">productor del juego: </label>
                    <input id="productor-juego" type="text" class="form-control" [(ngModel)]="productor"/>
                </div>
                <hr>
                <div class="form-group">
                    <label for="protagonista-juego"  jhiTranslate="tIendaDeVideoJuegosApp.juego.filters.protagonist">protagonista del juego: </label>
                    <input id="protagonista-juego" type="text" class="form-control" [(ngModel)]="protagonista"/>
                </div>
            </ng-template>
            <hr>
            <button type="submit" class="btn btn-info btn-sm" (click)="busquedaFiltrada()" >
                <fa-icon icon="search"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.search">Buscar</span>
            </button>
        </ngb-panel>
    </ngb-accordion>

    <div class="table-responsive" id="entities" *ngIf="juegos && juegos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="tIendaDeVideoJuegosApp.juego.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaPublicacion"><span jhiTranslate="tIendaDeVideoJuegosApp.juego.fechaPublicacion">Fecha Publicacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="protagonistas"><span jhiTranslate="tIendaDeVideoJuegosApp.juego.protagonistas">Protagonistas</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="director"><span jhiTranslate="tIendaDeVideoJuegosApp.juego.director">Director</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productor"><span jhiTranslate="tIendaDeVideoJuegosApp.juego.productor">Productor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tecnologia"><span jhiTranslate="tIendaDeVideoJuegosApp.juego.tecnologia">Tecnologia</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let juego of juegos ;trackBy: trackId">
                    <td><a [routerLink]="['/juego', juego.id, 'view']">{{ juego.id }}</a></td>
                    <td>{{ juego.nombre }}</td>
                    <td>{{ juego.fechaPublicacion | date:'mediumDate' }}</td>
                    <td>{{ juego.protagonistas }}</td>
                    <td>{{ juego.director }}</td>
                    <td>{{ juego.productor }}</td>
                    <td>{{ juego.tecnologia }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/juego', juego.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/juego', juego.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(juego)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="juegos && juegos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
